@import "styles/_mixins";
@import "styles/_colors";

:host {
  display: block;
}

.player-card {
  @include flex(column, center, center);

  background-image: linear-gradient(to bottom right, $error 50%, $on-base 50%);
  color: $on-error;
  font-size: 1.4rem;
  letter-spacing: 1px;

  width: 22rem;
  height: 22rem;
  overflow: hidden;

  &__img {
    margin-bottom: 1rem;
    img {
      display: inline-block;
      height: 10rem;
      border-radius: 50%;
    }
  }
}

.winner {
  background-image: linear-gradient(
    to bottom right,
    $success 50%,
    $on-base 50%
  );
  // background: $success;
  color: $on-success;
  animation: zoom-in-out 0.5s infinite alternate;
}
