<div class="game-input-form-container">
  <div class="dice">
    <img class="dice__icon" src="assets/icons/dices.png" alt="Dices" />
  </div>

  <hr />

  <ng-container *ngIf="playersStore.selectedPlayers$ | async as players">
    <div class="players">
      <h3 class="mg-sm">Playing: {{ players.length }}</h3>
      <ul class="players__list">
        <coda-player-card
          *ngFor="let player of players"
          [player]="player"
        ></coda-player-card>
      </ul>
    </div>
    <button
      (click)="showResult()"
      class="btn-primary"
      [disabled]="players.length !== 9"
    >
      Select Users
    </button>
  </ng-container>
</div>
